<p>
  <strong>User ID:</strong>
  <%= @coach.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @coach.first_name %> <%= @coach.last_name %>
</p>
 
<p>
  <strong>Date of birth:</strong>
  <%= @coach.dob %>
</p>

<p>
  <strong>Subject or topics:</strong>
  <%= @coach.subject_or_topics %>
</p>

<p>
  <strong>Address:</strong>
  <%= @coach.address %>
</p>

<%= image_tag @coach.avatar.url(:medium) %>

<h2>Comments For this coach</h2>
<%= render @coach.coach_comments %>

<h2>Add a comment:</h2>
<%= render 'coach_comments/form' %>

<%= week_calendar number_of_weeks: 2 do |date| %>
  <%= date %>
<% end %>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
